@using ASPMVCEDU.Models
@model List<ClassViewModel>

<h1>Занятия</h1>
<a class="btn btn-primary" asp-controller="Classes" asp-action="Insert" style="margin-top:5px; margin-bottom:5px;">Создать занятие</a>

<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Название курса</th>
                <th>Имя и фамилия преподавателя</th>
                <th>Дата начала</th>
                <th>Дата конца</th>
                <th>Продолжительность (часов)</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clas in Model)
            {
                <tr>
                    <td>@clas.Course.CourseName</td>
                    <td>@clas.Teacher.FirstName @clas.Teacher.LastName</td>
                    <td>@clas.StartDate.ToString()</td>
                    <td>@clas.EndDate.ToString()</td>
                    <td>@clas.Duration</td>
                    <td><a class="btn btn-danger btn-sm" style="margin: 0.2em" asp-action="Remove" asp-route-id="@clas.ClassId">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>